@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
html,
body
{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.grid {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(12, 1fr);
}

.grid > .w12 {
  grid-column-end: span 12;
}

.grid > .w8 {
  grid-column-end: span 8;
}

.grid > .w6 {
  grid-column-end: span 6;
}

.grid > .w4 {
  grid-column-end: span 4;
}

.grid > .w3 {
  grid-column-end: span 3;
}

@media (max-width: 480px) {
  .grid > * {
    grid-column: 1 / span 12 !important;
  }
}

.grid > div {
  padding: 0.5em;
  font-size: 18px;
}

.card {
  background-color: #252837;
  color: #fff;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
}

.flex-grid-thirds.product .card {
  padding-bottom: unset;
}

.card p,
.card a {
  color: #fff;
  padding-left: 1rem;
}

.container{
  background-color: #FFF;
  padding: 0 10em;
}

.card .bg-img-fundo {
  background-color: #3d4154;
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border-radius: 5px 5px;
  display: grid;
  place-items: center;
  justify-content: center;
}

.card .bg-img-fundo img {
  position: absolute;
  width: 50%;
}

.description>span {
  background-color: #3d41544a;
  border-radius: 5rem;
  color: #252837;
  font-weight: bold;
  padding: .4rem .8rem;
}

.description hr {
  margin-top: 2rem;
}

table {
	width: 100%;
	border-collapse: collapse;
	}

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #252837;
	color: white; 
	font-weight: bold; 
  max-width: 5rem !important;
	}

td, th {
	padding: 10px;
	text-align: left;
	font-size: 18px;
	}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}

}

.img-table{
  display: flex;
}

.img-table img{
  width: 4rem;
}

.add {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.acoes div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-products {
  width: 5rem;
}

.form input {
  margin-bottom: 1rem;
}

.bg-img{
  background-color: #3d4154;
  border-radius: 5px;
}

.bg-img .bg-img-fundo{
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 5px 5px;
  display: grid;
  place-items: center;
  justify-content: center;
}

.bg-img .bg-img-fundo img{
  width: 60%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.navbar a{
  text-decoration: none;
  color: #252837
}